# Final Project: Data Science Tools and Techniques

## this is introduction
hello ibm and coursera lets see what is tools od data science

### data science languages
- python
- r
- SQL
- Julia
- Scala

### data science libraries
- Pandas
- NumPy
- Scikit-learn
- TensorFlow
- PyTorch
- Matplotlib
- Seaborn

|data science tools|
|---|
|jupter lap|
|R|
|python|
|anconnda navigator|
|Apache Spark|

## Arithmetic Expression Examples
Below are some examples of arithmetic expressions in Python.

In [20]:
### Multiply and add numbers
result = (3 * 4) + 5
print("The result of (3 * 4) + 5 is:", result)

The result of (3 * 4) + 5 is: 17

In [22]:
x = 180
houres = x/60
print("converting", x , "minutes to houres will be equal = " , houres )

converting 180 minutes to houres will be equal =  3.0

## Objectives
- List popular data science languages.
- List commonly used data science libraries.
- Create a table of data science tools.
- Demonstrate basic arithmetic operations in Python.
- Convert minutes to hours using Python.

## Author
[youssef wael mahmoud]